<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
          http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
">
    
    <bean id="processor" class="asos.Processor"/>
    
    <bean id="filter" class="asos.Filter">
        <constructor-arg value="Pako"/>
        <property name="nextReceiver" ref="processor"/>
    </bean>
    
    <bean id="generator" class="asos.Generator">
        <property name="receiver" ref="filter"/>
    </bean>
    
    <bean id="aspectBean" class="asos.AspectBean">
        <property name="count" value="0"/>
    </bean>
    
    <aop:config>
        <aop:aspect id="myAspect" ref="aspectBean">
            <aop:before method="countFilterPut" pointcut="execution(void asos.Filter.put(String))"/>
            <aop:around method="toUpperProcessorPut" pointcut="execution(void asos.Processor.put(String))"/>
        </aop:aspect>
    </aop:config>
</beans>
