<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
          http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
">
    <bean id="service" class="asos.MessageServiceMock"/>
    <bean id="consumer" class="asos.MessageConsumerMock"/>
    <bean id="processor" class="asos.MessageProcessor">
        <constructor-arg ref="consumer"/>
        <constructor-arg ref="service"/>
    </bean>
    
    <bean id="aspectBean" class="asos.LoggingAspect"/>

    <aop:config>
        <aop:aspect id="myAspect" ref="aspectBean">
            <aop:pointcut id="pointcut" expression="execution(* asos.*.*(..))"/>
            <aop:before method="logBefore" pointcut-ref="pointcut"/>
        </aop:aspect>
    </aop:config>
    
</beans>
