<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
          http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
">
    <bean id="service" class="asos.springdemo1.MessageServiceMock" />
    <bean id="consumer" class="asos.springdemo1.MessageConsumerMock" />
    <bean id="log" class="asos.springdemo1.LogAspect" />
    <bean id="encdec" class="asos.springdemo1.EncDecAspect" />
    <bean id="counter" class="asos.springdemo1.CounterAspect" >
        <property name="count" value="0" />
        <property name="sum" value="0" />
    </bean>
    
    <bean id="processor" class="asos.springdemo1.MessageProcessor" >
        <property name="service" ref="service"/>
        <property name="consumer" ref="consumer"/>
    </bean>
    
    <aop:config>
        <aop:aspect id="logAspect" ref="log">
            <!--<aop:before method="logBefore" pointcut="execution(* asos.springdemo1.*.*(..))"/>-->
        </aop:aspect>
        <aop:aspect id="countAspect" ref="counter">
            <aop:before method="countBefore" pointcut="execution(* asos.springdemo1.*.getMessage(..))"/>
            <aop:after-returning method="sumAfter" returning="ret" pointcut="execution(* asos.springdemo1.*.getMessage(..))"/>
        </aop:aspect>
        <aop:aspect id="encdecAspect" ref="encdec">
            <aop:around method="encryptAround" pointcut="execution(* asos.springdemo1.*.getMessage(..))"/>
            <aop:around method="decryptAround" pointcut="execution(* asos.springdemo1.*.putMessage(..))"/>
        </aop:aspect>
        
    </aop:config>
</beans>
