<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
          http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
">
    
    <bean id="service" class="asos.springdemo1.MessageServiceMock" />
   
    <!-- constructor-based DI -->
    <bean id="processor" class="asos.springdemo1.MessageProcessor" >
        <constructor-arg ref="service"/>
    </bean>
    
    <!-- setter-based DI -->
<!--    <bean id="processor" class="asos.springdemo1.MessageProcessor" >
        <property name="service" ref="service"/>
    </bean>-->
    
    
    <!-- autowire="constructor" -->
<!--    <bean id="processor" class="asos.springdemo1.MessageProcessor" 
          autowire="constructor" />-->
    
    <!-- autowire="byName" -->    
<!--    <bean id="processor" class="asos.springdemo1.MessageProcessor" 
          autowire="byName" />-->
    
    <!-- autowire="byType" -->
<!--    <bean id="processor" class="asos.springdemo1.MessageProcessor" 
          autowire="byType" />-->
</beans>
